In [11]:
import pandas as pd

In [12]:
output_file = open("./mricloud_output/output/MNI_286Labels_MNI_stats.txt", 'r')
lines = output_file.readlines()
relevant_lines = []
 
count = 0
for line in lines:
    splits = line.strip().split('\t')
    if len(splits) > 1:
        if 'Amyg' in splits[1] or 'Fimbria' in splits[1] or 'Hippo' in splits[1] or 'Mammillary' in splits[1]:
            relevant_lines.append(splits)

In [19]:
rolls=['Amyg_R','Fimbria_R','Hippo_R','Mammillary_R','Amyg_L','Fimbria_L','Hippo_L','Mammillary_L']
df = pd.DataFrame(columns = rolls)
df = df.append({'Amyg_R': 0,'Fimbria_R': 0,'Hippo_R': 0,'Mammillary_R': 0,'Amyg_L': 0,'Fimbria_L': 0,'Hippo_L': 0,'Mammillary_L': 0}, ignore_index=True)

for i in range(len(relevant_lines)):
    for j in range(len(rolls)):
        if relevant_lines[i][1] == rolls[j]:
            df[rolls[j]] = relevant_lines[i][5]

df

,Amyg_R,Fimbria_R,Hippo_R,Mammillary_R,Amyg_L,Fimbria_L,Hippo_L,Mammillary_L
0,116.0023,147.8275,108.5544,145.6436,112.2878,153.2168,106.0655,152.3562